In [0]:
data=([(1,'Ravi','Pune'),(2,'Vijay','Mumbai'),(3,'Ajay','Bangalore'),(1,'Ravi','Pune'),(1,'Ravi','Pune')])
schema='id INT, name STRING, city STRING'
df=spark.createDataFrame(data,schema)

In [0]:
%sql
create table if not exists cgi_dev.reetika.emp(id int, name string, city string)